body {
    background-color: black;

}
div { text-align: center;
    background-color: burlywood;
    margin: 60px 100px;
}
.images{
    margin-left: 100px;
    margin-right: 100px;
}
h2 {
    text-align: center;
    font-size: 26px;
    text-decoration: underline;
}
p {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}
a {
    text-align: center;
    color: black;
    text-decoration-color: rgb(44, 97, 210);
}
h1 {
    font-weight: 900;
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
}